<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><%= image_tag("1.png", :alt => "") %></div>
        </div>
        <div class="da-slide">
            <h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
            <div class="da-img span6">
              <div class="span6">
          <iframe src="http://player.vimeo.com/video/47911018" width="100%" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
        </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><%= image_tag("html5andcss3.png", :alt => "") %></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>    
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->

<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
    <div class="span9">
            <span>Muros verdes a precios accesibles.</span>
            <p>Ponemos a tu dispoción el material necesario para construir tu muro verde, así como una serie de videos, instructivos y herramientas web para que puedas instalar y hechar a andar tu muro verde. De esta manera ahorros de entre un 50% y 70% en comparación con otras compañías de muro verde. Agregar unas palabras mas </p>
        </div>
        <a href="<%= '/invoice' %>" class="btn-buy hover-effect">Ver precios</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container"> 
  <!-- Service Blocks -->
  <div class="row-fluid">
    <div class="span4">
      <a href="<%= '/product#modular' %>">
        <div class="service clearfix">
          <i class="icon-resize-small"></i>
          <div class="desc">
            <h4>Sistema Modular</h4>
            <p>Usando nuestros dos tipos de modulo base puedes construir muros de cualquier tamaño y a un bajo costo. <b>Enviamos a cualquier parte del mundo.</b></p>
          </div>
        </div> 
      </a> 
    </div>
    <div class="span4">
      <a href="<%= '/product#instal' %>">
      <div class="service clearfix">
                <i class="icon-cogs"></i>
          <div class="desc">
            <h4>Fácil Instalación</h4>
                    <p>Te proveemos todo el material necesario para construir un muro verde incluyendo una serie de herramientas web.</p>
          </div>
        </div>  
        </a> 
      </div>
      <div class="span4">
        <a href="<%= '/product#mant' %>">

        <div class="service clearfix">
                <i class="icon-wrench"></i>
          <div class="desc">
            <h4>Mantenimiento Mínimo</h4>
                    <p>Únicamente tienes que agregar nutrientes y limpiar un filtro de vez en cuando; actividades que no llevan más de 10 minutos.</p>
          </div>
        </div>  
      </a>
      </div>          
  </div><!--/row-fluid-->
  <!-- //End Service Blokcs -->

  <!-- Recent Works -->

  <div class="headline"><h3>¿Para quién?</h3></div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
              <div class="thumbnail-img">
                    <div class="overflow-hidden"><%= image_tag("arch.jpg",:alt => "") %></div>
                    <a class="btn-more hover-effect" href="<%= '/persona#arch' %>">Ver más +</a>         
                </div>
                <h3><a class="hover-effect" href="#">¿Arquitecto?</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
              <div class="thumbnail-img">
                    <div class="overflow-hidden"><%= image_tag("id.jpg",:alt => "") %></div>
                    <a class="btn-more hover-effect" href="<%= '/persona#di' %>">Ver más +</a>         
                </div>
                <h3><a class="hover-effect" href="#">¿Diseñador de interiores?</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
              <div class="thumbnail-img">
                    <div class="overflow-hidden"><%= image_tag("en.jpg",:alt => "") %></div>
                    <a class="btn-more hover-effect" href="<%= '/persona#ent' %>">Ver más +</a>         
                </div>
                <h3><a class="hover-effect" href="#">¿Emprendedor?</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
              <div class="thumbnail-img">
                    <div class="overflow-hidden"><%= image_tag("nat.jpg",:alt => "") %></div>
                    <a class="btn-more hover-effect" href="<%= '/persona#nature' %>">Ver más +</a>         
                </div>
                <h3><a class="hover-effect" href="#">¿Amante de la naturaleza?</a></h3>
                <p>¿Quisieras tener un muro verde en tu casa pero los precios proh</p>
            </div>
        </li>
    </ul><!--/thumbnails-->
  <!-- //End Recent Works -->
  <!-- Our Clients -->
  
        <div class="headline"><h3>Galería</h3></div>  
        <div class="row-fluid gallery">
        <ul class="thumbnails">
            <li class="span3">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="assets/img/carousel/2.jpg">
                    <div class="overlay-zoom">  
                        <%= image_tag("5.jpg",:alt => "") %>
                        <div class="zoom-icon"></div>         
                    </div>                        
                </a>
            </li>
            <li class="span3">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="assets/img/carousel/2.jpg">
                    <div class="overlay-zoom">  
                        <%= image_tag("5.jpg",:alt => "") %>
                        <div class="zoom-icon"></div>         
                    </div>                        
                </a>
            </li>
            <li class="span3">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project #3" href="assets/img/carousel/3.jpg">
                    <div class="overlay-zoom">  
                        <%= image_tag("5.jpg",:alt => "") %>
                        <div class="zoom-icon"></div>         
                    </div>                        
                </a>
            </li>
            <li class="span3">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project #4" href="assets/img/carousel/4.jpg">
                    <div class="overlay-zoom">  
                        <%= image_tag("5.jpg",:alt => "") %>
                        <div class="zoom-icon"></div>         
                    </div>                        
                </a>
            </li>
        </ul><!--/thumbnails-->

        <ul class="thumbnails">
            <li class="span3">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project #5" href="assets/img/carousel/5.jpg">
                    <div class="overlay-zoom">  
                        <%= image_tag("5.jpg",:alt => "") %>
                        <div class="zoom-icon"></div>         
                    </div>                        
                </a>
            </li>
            <li class="span3">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project #6" href="assets/img/carousel/6.jpg">
                    <div class="overlay-zoom">  
                        <%= image_tag("5.jpg",:alt => "") %>
                        <div class="zoom-icon"></div>         
                    </div>                        
                </a>
            </li>
            <li class="span3">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project #7" href="assets/img/carousel/7.jpg">
                    <div class="overlay-zoom">  
                        <%= image_tag("5.jpg",:alt => "") %>
                        <div class="zoom-icon"></div>         
                    </div>                        
                </a>
            </li>
            <li class="span3">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project #8" href="assets/img/carousel/8.jpg">
                    <div class="overlay-zoom">  
                        <%= image_tag("5.jpg",:alt => "") %>
                        <div class="zoom-icon"></div>         
                    </div>                        
                </a>
            </li>
        </ul><!--/thumbnails-->     
    </div><!--/row-fluid-->

    




      
    
  
  <!-- //End Our Clients -->
</div><!--/container-->   
<!-- End Content Part -->


<script>
jQuery(document).ready(function() {
    App.init();
    App.initSliders();
    Index.initParallaxSlider();
});
</script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initFancybox();
    });
</script>

<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->



