<p id="notice"><%= notice %></p>

<p>
  <b>Height:</b>
  <%= @order.height %>
</p>

<p>
  <b>Width:</b>
  <%= @order.width %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
