<h4>Formulário de Contacto de Biani App</h4>

<p>Nombre: <%= @user_info["name"] %></p>
<p>Email: <%= @user_info["email"] %></p>
<p>Mensaje: <%= @user_info["message"] %></p>

<p>Base: <%= @user_info["base"] %></p>
<p>Altura: <%= @user_info["height"] %></p>
<p>Area: <%= @user_info["area"] %></p>
<p>Precio: <%= @user_info["priceMxn"] %></p>

