<!DOCTYPE html>

<html>
<head>
  <title>Bianiapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="shortcut icon" href="favicon.ico" />

  <!--=== Top ===-->    
<div class="top">
  <div class="container">         
    <ul class="loginbar pull-right">
      <!-- <li><i class="icon-globe"></i><a>Languages <i class="icon-sort-up"></i></a>
        <ul class="nav-list">
          <li class="active"><a href="#">English</a> <i class="icon-ok"></i></li>
          <li><a href="#">Spanish</a></li>
        </ul>
      </li> -->
      <% if user_signed_in? %>
        <!-- <li class="devider">&nbsp;</li> -->
        <li><%= link_to current_user.email %></li>
        <li class="devider">&nbsp;</li>
        <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li> 
      <% else %>
        <!-- <li class="devider">&nbsp;</li> -->
        <li><%= link_to "Regístrate", new_user_registration_path %></li>  
        <li class="devider">&nbsp;</li>
        <li><%= link_to "Ingresar", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>      
</div><!--/top-->
<!--=== End Top ===-->    

<!--=== Header ===-->
<div class="header">               
  <div class="container"> 
    <!-- Logo -->       
    <div class="logo">                                             
        <a href="<%= '/' %>"><%= image_tag("logo1-default.png", :id => "logo-header", :alt => "logo") %></a>
    </div><!-- /logo -->        
                                
    <!-- Menu -->       
    <div class="navbar">                                
        <div class="navbar-inner">                                  
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a><!-- /nav-collapse -->                                  
            <div class="nav-collapse collapse">                                     
                <ul class="nav top-2">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Producto
                            <b class="caret"></b>                            
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= '/product#modular' %>">Sistema Modular</a></li>
                            <li><a href="<%= '/product#instal' %>">Fácil Instalación</a></li>
                            <li><a href="<%= '/product#mant' %>">Mantenimiento Mínimo</a></li>
                        </ul>
                        <b class="caret-out"></b>                        
                    </li>
                    <li>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">A quien
                            <b class="caret"></b>                            
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= '/persona#arch' %>">Arquitectos</a></li>
                            <li><a href="<%= '/persona#di' %>">Diseñadores de Interiores</a></li>
                            <li><a href="<%= '/persona#ent' %>">Emprendedores</a></li>
                            <li><a href="<%= '/persona#nature' %>">Amantes de la Naturaleza</a></li>
                        </ul>
                        <b class="caret-out"></b>                        
                    </li>
                    <li>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Tienda
                            <b class="caret"></b>                            
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= '/invoice' %>">Precios</a></li>
                            <li><a href="<%= '/persona#di' %>">Distribuidores</a></li>
                        </ul>
                        <b class="caret-out"></b>                        
                    </li>
                   <!--  <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galeria
                            <b class="caret"></b>                            
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="portfolio_item.html">Portfolio Item</a></li>
                            <li><a href="portfolio_2columns.html">Portfolio 2 Columns</a></li>
                            <li><a href="portfolio_3columns.html">Portfolio 3 Columns</a></li>
                            <li><a href="portfolio_4columns.html">Portfolio 4 Columns</a></li>
                        </ul>
                        <b class="caret-out"></b>                        
                    </li> -->
                    <li>
                      <a href="<%= '/contact' %>">Contacto                        
                      </a>                    
                    </li>
                                             
                </ul>
                <div class="search-open">
                    <div class="input-append">
                        <form>
                            <input type="text" class="span3" placeholder="Search" />
                            <button type="submit" class="btn-u">Go</button>
                        </form>
                    </div>
                </div>
            </div><!-- /nav-collapse -->                                
        </div><!-- /navbar-inner -->
    </div><!-- /navbar -->                          
  </div><!-- /container -->               
</div><!--/header -->      
<!--=== End Header ===-->

<!--=== Body ===-->
<div class="container">
  <% flash.each do |type, message| %>
  <div class="alert <%= flash_class type %>">
    <button class="close" data-dismiss="alert">x</button>
    <%= message %>
  </div>
  <% end %>
</div>

<%= yield %>

<!--=== End Body ===-->

<!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <div class="headline"><h3>About</h3></div>  
          <p class="margin-bottom-25">Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p>  
      </div><!--/span4--> 
    
      <div class="span4">
        <div class="headline"><h3>Síguenos</h3></div> 
          <ul class="social-icons">
              <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
              <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
              <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
              <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
              <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
              <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
              <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
          </ul>
      </div><!--/span4-->
      <div class="span4">
        <div class="headline"><h3>Contacto</h3></div> 
          <address>
            Morelos 43 (Eje 6) <br />
            Col. María del Carmen <br />
            México, DF <br />
            Tel: +52 (55) 5243 8935 <br />
            <!-- Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a> -->
          </address>   
      </div><!--/span4-->
    </div><!--/row-fluid--> 
  </div><!--/container--> 
</div><!--/footer-->  
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row-fluid">
      <div class="span8">           
              <p>2013 &copy; Biani. Todos los derechos reservados. <!-- <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> --></p>
      </div>
      <div class="span4"> 
        <%= image_tag("logo2-default.png", :id => "logo-footer", :class => "pull-right", :alt => "logo") %>
      </div>
    </div><!--/row-fluid-->
  </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->

<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('7475-141-10-9172');/*]]>*/</script><noscript><a href="https://www.olark.com/site/7475-141-10-9172/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->

  </body>
</html>




